/* Hoàng Minh Phúc B1906550 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: grid;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    grid-template-areas: 'header-cell''main-cell''footer-cell';
}


/* CSS header */

.page__header {
    width: 1198px;
    grid-area: header-cell;
    height: 100px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: rgb(141, 6, 6);
    z-index: 1;
}

.header__logo {
    flex: .7;
}

.header__nav-search {
    flex: 2;
}

.header__account {
    flex: .5;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img {
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

.header__search--pc {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__search--pc input {
    width: 90%;
    height: 40px;
    background-color: #ffff;
    position: relative;
    border-radius: 20px;
    padding-left: 10px;
}

.fa-search {
    color: black;
    position: absolute;
    right: 50px;
}

.header__nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.header__nav a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #f1f3f5;
}

.header__nav a:hover {
    color: black;
    background-color: #f1f3f5;
}

.header__account a:hover {
    background-color: #f1f3f5;
    border-radius: 50px;
}

.header__account a i:hover {
    color: black;
}

.header__account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__account a {
    padding: 10px;
}

.fas {
    font-size: 30px;
}

.header__account .fas {
    color: #ffff;
}


/* Mobie */

.header__bars,
.header__search--mobile {
    display: none;
    cursor: pointer;
}

.header__nav--mobile {
    position: fixed;
    top: 0;
    left: -320px;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #ffff;
    display: none;
    animation: show-slide linear .5s;
}

.header__nav--mobile i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.header__nav--mobile {
    flex-direction: column;
}

.active .header__nav--mobile {
    display: flex;
    left: 0px;
}

.header__nav--mobile a {
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;
}

.header__nav--mobile :nth-child(2) {
    margin-top: 40px;
}

.nav--mb:hover {
    color: black;
    background-color: #f1f3f5;
}

.header__nav--mobile i:hover {
    color: black;
    background-color: #f1f3f5;
}

.header__bars i:hover {
    color: blue;
    background-color: #f1f3f5;
}


/* ---------------------------- */

.page__main {
    margin-top: 110px;
}

.main__tintuc {
    display: flex;
}

.main__tintuc1 {
    flex: 1;
}

.main__tintuc1 h2 {
    text-align: center;
}

.tintuc--1 {
    margin-left: 10px;
    margin-top: 20px;
}

.main__tintuc2 {
    flex: 3;
    margin-right: 10px;
}

.main__tintuc2 h2 {
    text-align: center;
}

.gachchan {
    display: flex;
    justify-content: center;
}

.gachchan1 {
    width: 150px;
    height: 5px;
    background-image: linear-gradient(90deg, #fff, #cddc39, #fff);
}

.tintuc {
    display: flex;
}

.thongtin {
    padding: 20px 5px;
}

.thongtin a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}


/* ---------------------- */


/* CSS footer */

.page__footer {
    margin-top: 20px;
    grid-area: footer-cell;
    height: 250px;
    justify-content: space-evenly;
}

.page__footer a {
    text-decoration: none;
    color: black;
}

.page__footer a:hover {
    color: red;
}

.footer__list {
    display: flex;
    justify-content: space-evenly;
}

.footer__1 {
    display: flex;
    flex-direction: column;
}

.footer__2 {
    display: flex;
    flex-direction: column;
}

.footer__3--icon {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.fab {
    font-size: 24px;
}

.footer__4 {
    height: 30px;
    color: #ffff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    background-color: rgb(141, 6, 6)
}

.footer__1 h3,
.footer__2 h3,
.footer__3 h3,
.footer__1 a,
.footer__2 a,
.footer__3 a {
    text-align: center;
}


/*click to top*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}


/* Pesponsive Mobile */

@media (max-width: 1023px) {
    .page__header {
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-areas: 'bars-cell logo-cell account-cell' 'bars-cell search-cell search-cell';
    }
    .header__bars {
        display: flex;
        grid-area: bars-cell;
        align-items: center;
    }
    .header__bars .fa-bars {
        font-size: 30px;
    }
    .header__logo {
        grid-area: logo-cell;
    }
    .header__account {
        grid-area: account-cell;
    }
    .fas {
        font-size: 30px;
    }
    .header__search--mobile {
        grid-area: search-cell;
        display: flex;
    }
    .header__logo img {
        height: 40px;
    }
    .header__search--mobile input {
        border: 0px;
        border-radius: 50px;
        width: 300px;
        height: 30px;
        background-color: #f1f3f5;
    }
    .header__nav,
    .header__search--pc {
        display: none;
    }
    /* CSS mobile main */
    .main__tintuc1 {
        display: none;
    }
    .tintuc a {
        margin-top: 40px;
    }
    /* CSS mobile footer */
    .page__footer {
        height: 510px;
    }
    .footer__list {
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    .footer__1 a,
    .footer__2 a,
    .footer__3 a {
        text-align: center;
    }
    .footer__1 h3,
    .footer__2 h3,
    .footer__3 h3 {
        text-align: center;
    }
}